body {
    width: 100%;
    height: 100vh;
}
.main-bg {
    background-color: #FFFFFF;
}
.main-container {
    margin-top: 5rem;
}
.search-icon-div {
    cursor: pointer;
}
.search-icon {
    cursor: pointer;
}
.link-img {
    width: 100%;
    height: auto;
}
.clock-text {
    font-size: 5rem;
    letter-spacing: .5rem;
    color: #444444;
}
